{% paginate blog.articles by 5 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

<div class="container">

  <div class="row">
      {% include 'breadcrumbs' %}
  </div>

  <h1 class="display-4 text-center">{{ blog_title }}</h1>

    {% comment %}

    <div class="col-2">
      {% if blog.all_tags.size > 0 %}
        <h2>{{ 'blogs.general.categories' | t }}</h2>

        <ul>
          {% for tag in blog.all_tags %}

            {% if current_tags contains tag %}
              <li>{{ tag }}</li>
            {% else %}
              <li>{{ tag | link_to_tag: tag }}</li>
            {% endif %}

          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% endcomment %}

    {% comment %}

    Article Previews
    ====================
    {% endcomment %}



    {% for article in blog.articles %}
      <div class="row border-top mt-3 pt-3">

        <div class="order-md-2 col">
          <h3>
            <a class="text-dark text-decoration-none" href="{{ article.url }}">{{ article.title }}</a>
          </h3>

          <div class="mt-3">
          {% if article.image %}
            <a href="{{ article.url }}">
              {% include 'responsive-image' with
              image: article.image,
              max_width: 1024,
              max_height: 1024
              %}
            </a>
          {% endif %}

            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>
              {{ article.content | strip_html | truncatewords: 100 }}
              </p>
            {% endif %}
          </div>

          {% if blog.comments_enabled? or article.tags.size > 0 %}
            <ul>
              {% if blog.comments_enabled? %}
                <li>
                  <a href="{{ article.url }}#comments">
                    {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                  </a>
                </li>
              {% endif %}

            </ul>
          {% endif %}

          <p>
          <a class="btn btn-primary" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          </p>

        <!-- col -->
        </div>

        <div class="order-md-1 col-md-2 text-md-right pr-4">

          <p class="text-secondary pt-2">
            {{ article.published_at | date: '%b %d, %Y' }}
          </p>

          {% if article.tags.size > 0 %}
            <span class="text-secondary">Tags: 
            {% for tag in article.tags %}
              <a class="badge badge-secondary" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              {% unless forloop.last %}, {% endunless %}
            {% endfor %}
            </span>
          {% endif %}

        </div>

        <!-- row -->
      </div>

    {% endfor %}

  <div class="row mt-3">
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>

<!-- container -->
</div>

{% endpaginate %}
