{% paginate customer.addresses by 5 %}
<div class="container">

  <div class="row">
    {% include 'breadcrumbs' %}
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-lg-8">

      <h1 class="text-center">{{ 'customer.account.title' | t }}</h1>

      {% capture user_email %}
        <a href="/account">{{ customer.email }}</a>
      {% endcapture %}

      <div class="text-center mb-3">
        {{ 'layout.customer.logged_in_as_html' | t: first_name: user_email }} (<a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>)
      </div>

      <h2>{{ 'customer.addresses.title' | t }}</h2>

      <div class="row">
        {% for address in customer.addresses %}

          <div class="card-group col-sm-6">
            <div class="card mb-3" data-address>
              <div class="card-body">

                {% if address == customer.default_address %}
                  <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
                {% endif %}

                {{ address | format_address }}


                  <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                    <input type="hidden" name="_method" value="delete"/>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditAddress_{{ forloop.index }}"> {{ 'customer.addresses.edit' | t }} </button>

                    <button class="btn btn-primary" type="submit">
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </form>

                <div class="modal fade" id="modalEditAddress_{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div data-address-form>
                        {% form 'customer_address', address %}

                        <div class="modal-header">
                          <h4 class="modal-title">{{ 'customer.addresses.edit_address' | t }}</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>

                        <div class="modal-body">
                          <div class="form-group">
                            <label for="AddressFirstName_{{ form.id }}">
                              {{ 'customer.addresses.first_name' | t }}
                            </label>
                            <input type="text"
                                   name="address[first_name]"
                                   id="AddressFirstName_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.first_name }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressLastName_{{ form.id }}">
                              {{ 'customer.addresses.last_name' | t }}
                            </label>
                            <input type="text"
                                   name="address[last_name]"
                                   id="AddressLastName_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.last_name }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressCompany_{{ form.id }}">
                              {{ 'customer.addresses.company' | t }}
                            </label>
                            <input type="text"
                                   name="address[company]"
                                   id="AddressCompany_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.company }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressAddress1_{{ form.id }}">
                              {{ 'customer.addresses.address1' | t }}
                            </label>
                            <input type="text"
                                   name="address[address1]"
                                   id="AddressAddress1_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.address1 }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressAddress2_{{ form.id }}">
                              {{ 'customer.addresses.address2' | t }}
                            </label>
                            <input type="text"
                                   name="address[address2]"
                                   id="AddressAddress2_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.address2 }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressCity_{{ form.id }}">
                              {{ 'customer.addresses.city' | t }}
                            </label>
                            <input type="text"
                                   name="address[city]"
                                   id="AddressCity_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.city }}"
                                   autocapitalize="words">
                          </div>

                          <div class="form-group">
                            <label for="AddressCountry_{{ form.id }}">
                              {{ 'customer.addresses.country' | t }}
                            </label>
                            <select data-address-country
                                    name="address[country]"
                                    id="AddressCountry_{{ form.id }}"
                                    class="form-control address-country-option"
                                    data-form-id="{{ form.id }}"
                                    data-default="{{ form.country }}">
                            </select>
                          </div>

                          <div class="form-group" id="AddressProvinceContainer_{{ form.id }}" data-address-province-wrapper class="hide">
                            <label for="AddressProvince_{{ form.id }}">
                              {{ 'customer.addresses.province' | t }}
                            </label>
                            <select data-address-province
                                    name="address[province]"
                                    id="AddressProvince_{{ form.id }}"
                                    class="form-control"
                                    data-default="{{ form.province }}">
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="AddressZip_{{ form.id }}">
                              {{ 'customer.addresses.zip' | t }}
                            </label>
                            <input type="text"
                                   name="address[zip]"
                                   id="AddressZip_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.zip }}"
                                   autocapitalize="characters">
                          </div>

                          <div class="form-group">
                            <label for="AddressPhone_{{ form.id }}">
                              {{ 'customer.addresses.phone' | t }}
                            </label>
                            <input type="tel"
                                   name="address[phone]"
                                   id="AddressPhone_{{ form.id }}"
                                   class="form-control"
                                   value="{{ form.phone }}"
                                   pattern="[0-9\-]*">
                          </div>

                          <div class="form-group">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">
                              {{ 'customer.addresses.set_default' | t }}
                            </label>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button class="btn btn-primary"
                                  type="submit">
                            {{ 'customer.addresses.update' | t }}
                          </button>
                          <button class="btn btn-primary"
                                  type="button"
                                  data-dismiss="modal"
                                  data-form-id="{{ form.id }}">
                            {{ 'customer.addresses.cancel' | t }}
                          </button>
                        </div>

                        {% endform %}

                      </div>
                    </div>
                  </div>
                  <!-- modal div -->
                </div>
                <!-- card body div -->
              </div>
              <!-- card div -->
            </div>
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>

      <div data-address>
        <button type="button" class="btn btn-primary" data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>

        <div data-address-form class="my-3 hide">
          {% form 'customer_address', customer.new_address %}
          <h2>{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="AddressFirstNameNew">
                {{ 'customer.addresses.first_name' | t }}
              </label>
              <input type="text"
                     name="address[first_name]"
                     id="AddressFirstNameNew"
                     class="form-control"
                     value="{{ form.first_name }}"
                     autocapitalize="words">
            </div>

            <div class="form-group col-md-6">
              <label for="AddressLastNameNew">
                {{ 'customer.addresses.last_name' | t }}
              </label>
              <input type="text"
                     name="address[last_name]"
                     id="AddressLastNameNew"
                     class="form-control"
                     value="{{ form.last_name }}"
                     autocapitalize="words">
            </div>
          </div>

          <div class="form-group">
            <label for="AddressCompanyNew">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text"
                   name="address[company]"
                   id="AddressCompanyNew"
                   class="form-control"
                   value="{{ form.company }}"
                   autocapitalize="words">
          </div>

          <div class="form-group">
            <label for="AddressAddress1New">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text"
                   name="address[address1]"
                   id="AddressAddress1New"
                   class="form-control"
                   value="{{ form.address1 }}"
                   autocapitalize="words">
          </div>

          <div class="form-group">
            <label for="AddressAddress2New">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text"
                   name="address[address2]"
                   id="AddressAddress2New"
                   class="form-control"
                   value="{{ form.address2 }}"
                   autocapitalize="words">
          </div>

          <div class="form-group">
            <label for="AddressCityNew">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text"
                   name="address[city]"
                   id="AddressCityNew"
                   class="form-control"
                   value="{{ form.city }}"
                   autocapitalize="words">
          </div>

          <div class="form-group">
            <label for="AddressCountryNew">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select data-address-country
                    name="address[country]"
                    id="AddressCountryNew"
                    class="form-control"
                    data-default="{{ form.country }}">
            </select>
          </div>

          <div data-address-province-wrapper class="hide form-group">
            <label for="AddressProvinceNew">
              {{ 'customer.addresses.province' | t }}
            </label>
            <select data-address-province
                    name="address[province]"
                    id="AddressProvinceNew"
                    class="form-control"
                    data-default="{{ form.province }}">
            </select>
          </div>

          <div class="form-group">
            <label for="AddressZipNew">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                   name="address[zip]"
                   id="AddressZipNew"
                   class="form-control"
                   value="{{ form.zip }}"
                   autocapitalize="characters">
          </div>

          <div class="form-group">
            <label for="AddressPhoneNew">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                   name="address[phone]"
                   id="AddressPhoneNew"
                   class="form-control"
                   value="{{ form.phone }}"
                   pattern="[0-9\-]*">
          </div>

          <div class="form-group">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>

          <button type="submit" class="btn btn-primary">{{ 'customer.addresses.add' | t }}</button>
          <button type="button" class="btn btn-primary" data-address-toggle>
            {{ 'customer.addresses.cancel' | t }}
          </button>
          {% endform %}

        </div>
      </div>

    </div>
  </div>
</div>

{% endpaginate %}
