{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection container">
  <div class="row justify-content-center pt-3">
    <div class="col">
      {% if section.settings.title != blank %}
        <h2 class="display-4 text-center pb-3 border-bottom featured-collection__title">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {%- assign collection = collections[section.settings.collection] -%}

      <div class="row pt-3 pt-md-5">
        {% for product in collection.products limit: 6 %}
          <div class="text-center col-6">
            <a href="{{ product.url | within: collection }}"
               class="text-decoration-none featured-collection-item">
              {% if product.featured_image != blank %}
                <div class="featured-collection__image">
                  {% include 'responsive-image' with
                  image: product.featured_image,
                  max_width: 480,
                  max_height: 480
                  %}
                </div>
              {% endif %}

              <p class="text-dark"><b>{{ product.title | escape }}</b></p>
                {% if product.compare_at_price > product.price %}
                  {% if product.price_varies %}
                    {%- assign sale_price = product.price | money -%}
                    <span class="money" style="font-size: 1em;">
                      {{ 'products.product.on_sale_from_html' | t: price:
                      sale_price }}!
                    </span>
                  {% else %}
                    <span class="text-dark">
                      {{ 'products.product.on_sale' | t }}!
                    </span>
                    <span class="money">
                      {{ product.price | money }}
                    </span>
                  {% endif %}
                {% else %}
                  {% if product.price_varies %}
                    {%- assign price = product.price | money -%}
                    <span class="money" style="font-size: 1em;">
                      {{ 'products.product.from_text_html' | t: price: price }}
                    </span>
                  {% else %}
                    <span class="money" style="font-size: 1em;">
                      {{ product.price | money }}
                    </span>
                  {% endif %}
                {% endif %}
            </a>
          </div>
        {% else %}
          {% for i in (1..6) %}
            <div class="text-center col-6">
              <a href="#" class="text-decoration-none featured-collection-item">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

                <p class="text-dark">
                  <b>{{ 'homepage.onboarding.product_title' | t }}</b>
                </p>
                <p class="money" style="font-size: 1em;">{{ 1999 | money }}</p>
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
