<footer class="bg-dark">
  <div class="container pt-3 py-md-5">
    <div class="row">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% assign linklist_modulo_three = linklists[footer_linklist].links.size | modulo:3 %}

        {% if linklists[footer_linklist].links.size > 0 %}
          {% for link in linklists[footer_linklist].links %}

            {% cycle '<div class="col col-sm-2">', '', '' %}
              {% cycle '<ul class="list-unstyled">', '', '' %}
                <li class="m-1"><a class="text-light" href="{{ link.url }}">{{ link.title }}</a></li>
                {% cycle '', '', '</ul>' %}
              {% cycle '', '', '</div>' %}

          {% endfor %}

          {% if linklist_modulo_three != 0 %}
      </div>
    {% endif %}

  {% endif %}
    <div class="col-sm ml-md-5">
      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
      <div class="social-sharing float-md-right">
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

          {% if settings[social_link] != blank %}
              <a class="btn btn-secondary mr-1" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                <div class="d-flex align-items-center">
                  {% include social_icon %}
                  <span class="pl-1">{{ social }}</span>
                </div>
              </a>
          {% endif %}

        {% endfor %}
      </div>
    </div>

  </div>

  <div class="row pt-3 pt-md-5">
    <div class="col">
      <span class="text-secondary">{{ 'layout.footer.copyright' | t }} &copy; {{
        'now' | date: "%Y" }}, {{ shop.name | link_to: '/' | replace: '<a', '<a
            class="text-light"' }}.</span>
    </div>
  </div>

  <div class="row pt-3 pt-md-5">
    <div class="col">
      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons list-inline">
            {% for type in shop.enabled_payment_types %}
              <li class="list-inline-item">
                {{ type | payment_type_svg_tag }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      {% endif %}
    </div>
  </div>


  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
